@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/* Barlow Semi Condensed */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
/* Shadows Into Light */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 20px;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}

button{
    font-size: 2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px  rgba(0,0,0,0.5);
    color: #98232b;
    background-color: #bdd68c; /* #f5e49e */
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    color: #245380;
}

body {
    background-color: beige;
}


.container{
    max-width: 100%;
    margin: auto;
}


/* Header Encabezado */



.logo1 {
    background-color: transparent;
    border-radius: 50%;
    object-fit: cover;

}

.header{
    background-color: #f2ca53;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 0 1em; 
}

.header .logo {
    cursor: pointer;
}

.header .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding:0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 25px;
    color: #98232b;
    text-decoration: none;
}

.header .nav-links li a.activo{
    font-size: 25px;
    color: #245380;
}

.header .nav-links li a:hover{
    color: #245380;
}

.header .btn button {
    font-size: 1em;
    font-weight: 700;
    color: #9e5257; 
    padding: 9px 25px;
    background: #f1fbed; 
    border: none;
    box-shadow: 2px 2px 10px  rgba(0,0,0,0.5);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    color: #245380;
    transform: scale(1.1);
}

/*.inicio img{
    max-width: 1100px;
    margin: auto;
    padding: 30px;
    display: flex;;
}*/

/* Secciones Cuerpo */

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/Casita.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero .inicio button{
    margin-top: 220%;
}


/* #sabores{
    text-align: center;
    margin: 60px;
    margin-bottom: 20px;
    padding: 20px;
} */

.secionSabores{
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.title_sabor{
    text-align: center;
    margin: 60px;
    margin-bottom: 20px;
    padding: 20px;
}

.card{
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 20px 10px;
    margin-bottom: 30px;
    background-color: #98232b;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #0007;
    transition: all 0.3s ease 0s;
    display: inline-block;
    margin: 50px;
}

/* .card:hover{
    transform: scale(1.05);
} */

.card_title{
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
}

.card_content{
    font-size: 20px;
    padding: 20px;
    text-align: justify;
}

.card_image{
    width: 300px;
    border-radius: 5px;
}

.card_image2{
    width: 300px;
    height: 371px;
    border-radius: 5px;
}

.buttonSabor{
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}

/* .botonMenu{
    margin-top: 5px;
    padding: 10px;
} */


/*.container button{
    margin: 100px;
}

.contenedor1{
    display: flex;
    align-items: center;
    margin: 20px;
    height: 400px;
}

.imgSabor{
    width: 2000px;
    height: 300px;

}

.imgSabor img{
    width: 100%;
    height: auto;
}


.textSabor{
    padding: 70px;
    margin: 60px;
    height: 400px;
}

.textSabor h3{
    padding: 20px;
    margin: 20px;
}

.contenedor2{
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.imgSabor2{
    width: 1700px;
    height: 300px;

}

.textSabor2{
    padding: 70px;
    margin: 60px;
}

.textSabor2 h3{
    padding: 20px;
    margin: 20px; 
}*/


.letraSabor {
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 40px;
    margin-top: 30px;
    letter-spacing: 2px;
}

#sucursales{
    background-color: rgba(30,30,30);
    color: white;
    text-align: center;
    display: flex;
}

#sucursales button{
    font-size: 1em;
    background-color: beige; /* #f5e49e */
    cursor: pointer;
}

#sucursales button:hover{
    transform: scale(1.1);
}

#sucursales .container{
    padding: 100px 0px;
}

#sucursales p{
    display: none;
}

#sucursales h2{
    margin-top: 0;
}

#sucursales h2{
    margin-top: 0;
}

#sucursales .carta{
    background-position: center center;
    background-size: cover;
    padding: 100px 100px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/Santa.jpeg);
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/GetsemaniÌ.jpeg);
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/Sur.jpeg);
}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/Guadalupe.jpeg);
}

.carta:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/Loma.jpeg);
}

.carta:nth-child(6){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/Sanzio.jpeg);
}

/*Footer Pie de Pagina */
.pie{
  width: 100%;
  background-color: #98232b;  
}

.pie .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0px;
    padding: 45px 0px;
}

.pie .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.pie .grupo-1 .box figure img{
    width: 100px;
}

.pie .grupo-1 .box h2{
    color: beige;
    margin-bottom: 25px;
    font-family: 'Barlow Semi Condensed' sans-serif;
    font-size: 20px;
}

.pie .grupo-1 .box p{
    margin-bottom: 10px;
    font-size: 20px;
}

.pie .grupo-1 .redSocial a img{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    line-height: 45px;
    margin-right: 20px;
    transition: all 300ms ease;
}

.pie .grupo-2{
    background-color: #f2ca53;
    padding: 15px 10px;
    text-align: center;
}


.redes{
    width: 50px;
}


/* -----Contacto------ */

.tituloContac{
    margin-top: 60px;
    text-align: center;
    background-color: #b54048;
    color: #f1fbed;
    padding: 20px;

}

.tituloContac h2{
    font-size: 50px;
}

.tituloContac h3{
    font-size: 30px;
}

.contacto{
    text-align: center;
    padding-top: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 80%;
    height: 600px;
    background-color: #ae9c98;
    background-image: url(/img/Contacto.jpeg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.contacto button{
    font-size: 20px;
    margin-top: 15px;
}

form{
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 0px 35px #0006;
}

.formContac{
    text-align: center;
}



.form_input{
    padding: 10px 20px;
    margin-top: 270px;
}

.form_input2{
    padding: 10px 20px;
    margin-top: 5px;
}

input{
    width: 50%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 2px solid #666;
    background-color: #eee;
    color: rgb(81, 81, 81);
}

.comentarios{
    width: 50%;
    height: 200px;
    box-sizing: border-box;
    padding: 6px 12px;
    margin-top: 10px;
    border: none;
    border-left: 2px solid #666;
    border-bottom: 2px solid #666;
    background-color: #eee;
    color: rgb(81, 81, 81);
    resize: none;
}

/*menu*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #494B4D;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	width: 100%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #E84C3D;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #2D3E50;
}

/* PRODUCTOS ============*/

.products-list{
	display: contents;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 242px;
    height: 280px;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #2D3E50;

	color: #fff;
	text-align: center;
	text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}

.page-link:focus {
	z-index: 3;
	outline: 0;
	box-shadow: none;
	}
	.row {
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -30px;
		margin-left: -30px;
	}
	a {
		color: #428bca;
		text-decoration: none;
		font-size: 15px;
	}
	h3 {
		font-size: 24px;
	}

.store-wrapper .precios{
    color: #494B4D;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
}
.store-wrapper p{
    font-size: 20px;
    text-align: center;
}



